<div>
    <div>
        <h4>Welcome ABC</h4>
        <br><br>
        <span><h5>Categories interested in :</h5></span>
        <ul>
            <li>Farming</li>
            <li>Teaching</li>
        </ul>
    </div>
    <div>
        <br><br><br>
        <form target="_blank" onsubmit="try {return window.confirm(&quot;You are submitting information to an external page.\nAre you sure?&quot;);} catch (e) {return false;}">
            <div>
                <div>
                    <i>money</i>
                    <textarea></textarea>
                    <label>Enter amount in INR</label>
                </div>
            </div>
        </form>
        <button type="submit" name="action">Contribute                         
            </button>
    </div>
</div>