.categories {
    align-content: left;
    padding: 0px;
}

.bootstrap-tagsinput {
    width: 100%;
}

.label {
    line-height: 2 !important;
}

.card {
    margin: 1% 1%;
    max-width: 30%;
    max-height: 30%;
}