<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-4">
            <h4><br>Categories :</h4>
            <form action="#">
                <p>
                    <label>
                    <input type="checkbox" name="category" value="" />
                    <span>Farming</span>
                  </label>
                </p>
                <p>
                    <label>
                      <input type="checkbox" name="category" value="" />
                      <span>Teaching</span>
                    </label>
                </p>
                <p>
                    <label>
                      <input type="checkbox" name="category" value="" disabled="disabled" />
                      <span>Health</span>
                    </label>
                </p>
                <p>
                    <label>
                      <input type="checkbox" name="category" value="" disabled="disabled" />
                      <span>Women Empowerment</span>
                    </label>
                </p>
                <p>
                    <label>
                      <input type="checkbox" name="category" value="" disabled="disabled" />
                      <span>Energy</span>
                    </label>
                </p>
                <p>
                    <label>
                      <input type="checkbox" name="category" value="" disabled="disabled" />
                      <span>Local Retail</span>
                    </label>
                </p>
                <p>
                    <label>
                      <input type="checkbox" name="category" value="" disabled="disabled" />
                      <span>Handicraft</span>
                    </label>
                </p>
                <p>
                    <label>
                      <input type="checkbox" name="category" value="" disabled="disabled" />
                      <span>Miscellaneous</span>
                    </label>
                </p>
                <button onclick="" class="btn-large waves-effect blue">Apply filter</button>
            </form>
        </div>
        <div class="col-lg-9 col-sm-8 container">
            <div class="row">
                <div class="card col-lg-4 col-sm-6" *ngFor="let Idea of Ideas; let i=index">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="..\..\..\assets\images\Capitolize.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{Idea.title}}<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">{{Idea.username}}</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{Idea.title}}<i class="material-icons right">close</i></span>
                        <p>
                            {{Idea.summary}}<br> {{Idea.date_posted}}
                            <br> {{Idea.date_end}}
                            <br> {{Idea.num_contributors}}
                            <br> {{Idea.category}}
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>