<div class="container">

    <ul>
        <h3>Welcome </h3>
        <h5>Choose categories you are interested in: </h5>
        <form action="#">
            <p>
                <label>
                <input type="checkbox" name="category" value="" />
                <span>Farming</span>
              </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" name="category" value="" />
                  <span>Teaching</span>
                </label>
            </p>
            <p>
                <label>
                  <input id="indeterminate-checkbox" type="checkbox" name="category" value="" />
                  <span>Health</span>
                </label>
            </p>
            <p>
                <label>
                  <input id="indeterminate-checkbox" type="checkbox" name="category" value="" />
                  <span><del>Women Empowerment</del></span>
                </label>
            </p>
            <p>
                <label>
                  <input id="indeterminate-checkbox" type="checkbox" name="category" value="" />
                  <span><del>Energy</del></span>
                </label>
            </p>
            <p>
                <label>
                  <input id="indeterminate-checkbox" type="checkbox" name="category" value="" />
                  <span><del>Local Retail</del></span>
                </label>
            </p>
            <p>
                <label>
                  <input id="indeterminate-checkbox" type="checkbox" name="category" value="" />
                  <span><del>Handicraft</del></span>
                </label>
            </p>
            <p>
                <label>
                  <input id="indeterminate-checkbox" type="checkbox" name="category" value="" />
                  <span><del>Miscellaneous</del></span>
                </label>
            </p>
            <button type="submit" name="action" class="btn-large waves-light red" routerLink="/startFR">Start Fundraiser</button>
            <button type="submit" name="action" class="btn-large waves-light red" routerLink="/contribute">Contribute</button>
        </form>
    </ul>
    <br><br><br><br><br>
</div>