<div class="card blue">
    <div class="card-content white-text">
        <p>You need to login to access some of the functionality</p>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width tabs-transparent">
            <li class="tab"><a href="#test1" class="active">Login</a></li>
            <li class="tab"><a class="" href="#test2">Register</a></li>
            <li class="indicator" style="left: 0px; right: 183px;"></li>
        </ul>
    </div>
    <div class="card-content blue lighten-5">
        <div id="test1" style="display: block;" class="active">
            Login Form will be added here
        </div>
        <div id="test2" class="" style="display: none;">Test 2</div>
    </div>
</div>