<div class="container">
    <div class="card blue">
        <div class="card-content light-blue lighten-1 white-text">
            <p>You need to login to access some of the functionality</p>
        </div>
        <div class="card-tabs light-blue lighten-1">
            <ul class="tabs tabs-fixed-width tabs-transparent">
                <li class="tab"><a href="#test1" class="active">Login</a></li>
                <li class="tab"><a class="" href="#test2">Register</a></li>
                <li class="indicator" style="left: 0px; right: 183px;"></li>
            </ul>
        </div>
        <div class="card-content blue lighten-5">
            <div id="test1" style="display: block" class="active">
                <form id="form1" action="" method="POST">
                    <p>
                        Email:
                        <input data-validation="url" id="email" name="website">
                    </p>
                    <p>
                        Password:
                        <input type="password" data-validation="url" id="password" name="password">
                    </p>
                    <input type="submit" class="btn-large waves-light blue"><br>
                    <p><a href="#">Create Account</a></p>
                    <p><a href="#">Forgot Password</a></p>
                </form>
            </div>
            <div id="test2" class="" style="display: none;">Test 2</div>
        </div>
    </div>
</div>