<div>
    <div>
        <h4>Welcome ABC</h4>
        <br><br>
        <span><h5>Categories interested in :</h5></span>
        <ul>
            <li>Farming</li>
            <li>Teaching</li>
        </ul>
    </div>
    <div>
        <table>
            <th>Top Fundraisers</th>
            <tr>
                <td>
                    <div>
                        <div>
                            <img>
                        </div>
                        <div>
                            <span>Card Title<i>more_vert</i></span>
                            <p><a href="#0.1_">This is a link</a></p>
                            <button type="submit" name="action">Contribute

                              </button>
                        </div>
                        <div>
                            <span>Card Title<i>close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>
                            <img>
                        </div>
                        <div>
                            <span>Card Title<i>more_vert</i></span>
                            <p><a href="#0.1_">This is a link</a></p>
                            <button type="submit" name="action">Contribute

                              </button>
                        </div>
                        <div>
                            <span>Card Title<i>close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>
                            <img>
                        </div>
                        <div>
                            <span>Card Title<i>more_vert</i></span>
                            <p><a href="#0.1_">This is a link</a></p>
                            <button type="submit" name="action">Contribute

                              </button>
                        </div>
                        <div>
                            <span>Card Title<i>close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </td>
            </tr>
            <th>Recommendations</th>
            <tr>
                <td>
                    <div>
                        <div>
                            <img>
                        </div>
                        <div>
                            <span>Card Title<i>more_vert</i></span>
                            <p><a href="#0.1_">This is a link</a></p>
                            <button type="submit" name="action">Contribute

                              </button>
                        </div>
                        <div>
                            <span>Card Title<i>close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>
                            <img>
                        </div>
                        <div>
                            <span>Card Title<i>more_vert</i></span>
                            <p><a href="#0.1_">This is a link</a></p>
                            <button type="submit" name="action">Contribute

                              </button>
                        </div>
                        <div>
                            <span>Card Title<i>close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>
                            <img>
                        </div>
                        <div>
                            <span>Card Title<i>more_vert</i></span>
                            <p><a href="#0.1_">This is a link</a></p>
                            <button type="submit" name="action">Contribute

                              </button>
                        </div>
                        <div>
                            <span>Card Title<i>close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>